._navigation {
  position: relative;
  z-index: 10000;
  margin-top: 20px;

  & .logo-wrapper {
    width: 200px;
    margin: 0 auto;
    & img {
      width: 100%;
    }
  }

  & .brand {
    font-style: normal;
    line-height: 25px;
    color: white !important;
  }

  & .navbar-dark .navbar-brand {
    margin: 0 auto;
    text-align: center;
  }

  & .custom-nav {
    place-items: center;
    border: 1px solid;

    &.left {
      border-image: linear-gradient(to left, #FFC748,#ffc7480f) 1 0;
      height: 70px;
      & li:first-child {
        //margin-left: 20px;
      }
      & li {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        margin-right: 60px;
      }
    }

    &.right {
      border-image: linear-gradient(to left, #ffc7480f,#FFC748) 1 0;

      & .spacer-first {
        margin-left: 70px;
      }
      & .spacer-last {
        margin-left: 40px;
      }
    }
  }

  & .mobile-menu-btn-wrapper {
    border: 1px solid #FFC748;
    border-radius: 60px;
    width: 40px;
    height: 40px;

    & img {
      position: relative;
      top: 6px;
    }
  }

  & .nav-link {
    color: #FFFFFF !important;
    &:hover {
      color: rgba(255, 255, 255, 0.55) !important;
      cursor: pointer;
    }
  }
}

.navbar-toggler {
  border-color: transparent !important;
}

// Modal
.modal-body-wrapper {
  min-height: 70vh;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px 10px 100px;

  &.roadmap {
    padding: 20px 80px 100px !important;
  }

  & .overlay-title {
    font-family: 'Rubik-Dirt';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #00C555;

    & .overlay-title-first {
      color: #ECECEC;
    }

    &.reverse {
      color: #ECECEC !important;

      &  .overlay-title-first {
        color: #00C555 !important;
      }
    }

    & .ring-wrapper {
      display: inline-block;
      width: 60px;
      position: relative;
      top: -12px;
      margin-left: -10px;
      margin-right: -10px;

      & img {
        width: 100%;
      }
    }
  }

    & .vision-body {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 60px;
      padding: 0px 200px;
      color: #ECECEC;
    }

    & .goblin-wrapper {
      width: 160px;
      & img {
        width: 100%;
      }
    }


  & .features-wrap {
    background: #191B19;
    color: white;
    padding: 12px 10px;
    min-height: 400px;

    & h4 {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 900;
      font-size: 1.8em;
      line-height: 60px;
      text-align: center;
      color: #00C555;
    }
    & p {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 400;
      font-size: 1.1em;
      line-height: 36px;
      text-align: center;
      color: #ECECEC;
      min-height: 216px;
    }
  }

  & .feature-img-wrap {
    margin: 0 auto;
    max-width: 100%;
    width: 68%;

    & img {
      width: 100%;
      position: relative;
      top: 68px;
    }
  }

  & .roadmap-wrapper {
    margin-bottom: 80px;
  }

  & .roadmap-dot {
    display: inline-block;
    border-radius: 60px;
    &.done {
      width: 16px;
      height: 16px;
      background: #00C555;
      margin-top: 29px;
    }
    &.ongoing {
      width: 24px;
      height: 24px;
      background: transparent;
      margin-top: 23px;
      border: 4px solid #00C555;
    }
  }
  & .roadmap-percent {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 2.5em;
    line-height: 70px;
    align-items: center;
    text-transform: uppercase;
    &.done {
      color: #505050;
    }
    &.ongoing {
      color: white;
    }
  }
  & .roadmap-date {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 40px;
    padding: 0px;
    margin: -20px 0px;
    &.done {
      color: #505050;
    }
    &.ongoing {
      color: #FFC748;
    }
  }
  & .roadmap-phase {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 2.5em;
    line-height: 70px;
    align-items: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    &.done {
      color: #505050;
    }
    &.ongoing {
      color: #00C555;
    }
  }
  & ul.roadmap-todos li {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 50px;
  }
  & ul.roadmap-todos.done li {
    color: #505050;
  }
  & ul.roadmap-todos.ongoing li {
    color: white;
  }
}

// Mobile Menu
#MobileMenu {
  background: #141514;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9000;

  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
}

// Custom breakpoint for Modal -----------------------------------
@media only screen and (max-width: 992px) {
  .modal-body-wrapper {
    &.roadmap {
      padding: 20px 10px 100px !important;
    }

    & .roadmap-date {
      font-size: .9em;
    }
    & .roadmap-phase {
      line-height: 40px;
      font-size: 2em;
    }

    & ul.roadmap-todos li {
      line-height: 24px;
      font-size: 1em;
    }
  }
}

// Navigation custom breakpoints -----------------------------------
@media only screen and (max-width: 1270px) {
  ._navigation {
    & .logo-wrapper {
      width: 150px;
    }

    & .custom-nav {
      place-items: center;
      border: 1px solid;

      &.left {
        border-image: linear-gradient(to left, #FFC748,#ffc7480f) 1 0;
        height: 70px;
        & li:first-child {
          //margin-left: 0px;
        }
        & li {
          font-family: 'Outfit';
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 28px;
          margin-right: 40px;
        }
      }

      &.right {
        & .spacer-first {
          margin-left: 20px;
        }
        & .spacer-last {
          margin-left: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  ._navigation {
    margin-top: 48px;

    & .logo-wrapper {
      width: 140px;
    }

    & .menu-wrap-mobile {
      border: 1px solid;
      border-image: linear-gradient(to left, #ffc748, #000000) 1 0;
      margin-top: 21px;
      padding-left: 26px;
      height: 56px;

      & .menu-inner-wrap {
        width: 53px;
        border: 1px solid #FFC748;
        border-radius: 60px;
        padding: 10px;
        height: 53px;
        margin-top: 0px;
        &:hover {
          cursor: pointer;
        }
        & img {
          width: 100%;
        }
      }
    }

    & .connector-wrap-mobile {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 665px) {
  ._navigation {
    & .logo-wrapper {
      width: 120px;
    }

    & .menu-wrap-mobile {
      margin-top: 23px;
      padding-left: 16px;
      height: 46px;

      & .menu-inner-wrap {
        width: 46px;
        padding: 11px;
        height: 46px;
        margin-top: -2px;

        &:hover {
          cursor: pointer;
        }
        & img {
          position: relative;
          top: -3px;
        }
      }
    }

    & .connector-wrap-mobile {
      margin-top: 22px;

      & ._connector-wrap {
        width: 140px !important;

        & .connector {
          height: 50px !important;
          font-size: 1em !important;
        }
      }
    }
  }
}




