# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
node_modules
# dependencies
frontend/node_modules
server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
frontend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.backup.env
frontend/.idea/
server/.idea/
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lint and Beautifier
sample-eslint.txt
sample-prettier.txt

# Vercel
.vercel
