._join-whitelist {
  margin-top: 200px;

  & input {
    height: 70px;
    width: 400px;
    border-radius: 7px;
    border: solid 0px white;
    padding: 0px 13px;
    font-size: 1.1em;
    color: #585757;
    font-weight: 400;

    &:focus {
      outline: none;
    }
  }
}
