._navigation {
  position: relative;
  z-index: 1000;
  margin-top: 20px;

  & .brand {
    font-style: normal;
    line-height: 25px;
    color: white !important;
  }

  & .custom-nav {
    place-items: center;
    border: 1px solid;

    &.left {
      border-image: linear-gradient(to left, #FFC748,#ffc7480f) 1 0;
      height: 70px;
      & li:first-child {
        margin-left: 20px;
      }
      & li {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        margin-right: 50px;
      }
    }

    &.right {
      border-image: linear-gradient(to left, #ffc7480f,#FFC748) 1 0;
    }
  }

  & .mobile-menu-btn-wrapper {
    border: 1px solid #FFC748;
    border-radius: 60px;
    width: 40px;
    height: 40px;

    & img {
      position: relative;
      top: 6px;
    }
  }

  & .nav-link {
    color: #FFFFFF !important;
    &:hover {
      color: rgba(255, 255, 255, 0.55) !important;
    }
  }
}

.navbar-toggler {
  border-color: transparent !important;
}
