._crementor {
  color: white;
  min-width: 240px !important;
  font-weight: 700;
  margin: 0 auto;

  & .incre:hover,
  & .decre:hover {
    cursor: pointer;
  }

  & .incre,
  & .decre {
    background: transparent;
    border: none;
    color: white;
    font-weight: 600;
    position: relative;
    top: -10px;
    height: 0px;
  }

  & .incre {
    font-size: 3em;
  }
  & .decre {
    font-size: 4em;
    position: relative;
    top: -21px;
  }
  & .value {
    font-size: 2.6em;

    &.has-value {
      color: white;
    }
    &.no-value {
      color: grey;
    }
  }
}
