._collapsible {
  &.question-wrapper {
    background: #fef8ff;
    width: 60%;
    border-radius: 5px;
    height: auto;
    overflow: hidden;
    min-height: 80px;
    max-height: 80px;
    margin: 0 auto 28px;
    transition: max-height 1.5s;

    & .question-text {
      padding-top: 26px;
      font-size: 1.3em;
      font-weight: 500;
      margin-bottom: 18px;
    }

    & .answer-wrapper {
      //height: inherit;
      //margin-bottom: 40px;

      height: inherit;
      background: whitesmoke;
      width: 104%;
      position: relative;
      left: -12px;
      padding: 17px;

      & p {
        height: inherit;
      }
    }
  }
}
